{% extends '../blocks/base2.html' %}

{% block title %}{{user.first_name|title}}'s Dashboard | SB Care{% endblock title %}

{% block body %}

<div class="h-full w-full p-6 md:p-8 lg:px-12">
    <div class="flex items-start justify-evenly flex-wrap">
        <div class="p-6 m-6 font-roboto shadow-xl rounded w-full border-t-2 border-indigo-700 max-w-xs">
            <div class="font-bold text-3xl">
                {{user_profile.coins}}
            </div>
            <div class="font-light text-sm mt-2.5 mb-1.5">
                You have {{user_profile.coins}} coins remaining
            </div>
            <div class="flex items-center justify-between">
                <div>
                    <a href=""
                        class="py-2.5 px-3.5 font-roboto text-sm rounded-md capitalize font-semibold bg-indigo-600 text-white hover:bg-indigo-700 transition-all duration-300 ease-in-out">Buy
                        Coins</a>
                </div>
                <div class="w-14 h-14 rounded-full bg-indigo-400 text-xl text-white flex items-center justify-center">
                    <i class="fa fa-usd"></i>
                </div>
            </div>
        </div>
        <div class="p-6 m-6 font-roboto shadow-xl rounded w-full border-t-2 border-indigo-700 max-w-xs">
            <div class="font-bold text-3xl">
                Free
            </div>
            <div class="font-light text-sm mt-2.5 mb-1.5">
                Currently you have free plan. You don't have API access
            </div>
            <div class="flex items-center justify-between">
                <div>
                    <a href=""
                        class="py-2.5 px-3.5 font-roboto text-sm rounded-md capitalize font-semibold bg-indigo-600 text-white hover:bg-indigo-700 transition-all duration-300 ease-in-out">Upgrade
                        Plan</a>
                </div>
                <div class="w-14 h-14 rounded-full bg-indigo-400 text-xl text-white flex items-center justify-center">
                    <i class="fa fa-bolt"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="my-12">
        <div class="mb-4">
            <div class="font-roboto font-semibold text-xl">Email Address</div>
            <div class="font-roboto font-medium text-sm text-gray-500 mt-1">See details of your email address</div>
        </div>
        <table class="font-roboto w-full table-fixed">
            <thead>
                <tr class="font-semibold text-lg border-collapse border-b-2 border-indigo-500">
                    <td class="pl-2">Email</td>
                    <td>Status</td>
                    <td>Registered On</td>
                </tr>
            </thead>
            <tbody>
                <tr class="font-light border-collapse">
                    <td class="p-2 break-words">{{user.email}}</td>
                    <td class="p-2 pl-0 break-words">{% if user.is_verified %}Verified <span class="ml-1 text-green-600"><i
                                class="fa fa-check-circle"></i></span> {%else%}Not Verified <span
                            class="ml-1 text-red-600"><i class="fa fa-times"></i></span> {%endif%}</td>
                    <td class="p-2 pl-0 break-words">{{user.date_joined | date}}</td>
                </tr>
            </tbody>
        </table>
        <div class="mt-6">
            <a href="{% url 'reset_password' %}"
                class="py-4 px-3.5 font-roboto rounded-md capitalize font-semibold bg-indigo-600 text-white hover:bg-indigo-700 transition-all duration-300 ease-in-out">Change Password</a>
        </div>
    </div>
    <div>
        <div class="mb-4">
            <div class="font-roboto font-semibold text-xl">Profile</div>
            <div class="font-roboto font-medium text-sm text-gray-500 mt-1">Check/Update your profile</div>
        </div>
        <div>
            <form action="" method="POST">
                <div id="profileFormMessage" class="hidden"></div>
                <div class="grid grid-cols-1 gap-5 font-roboto md:grid-cols-2 lg:grid-cols-3">
                    {% csrf_token %}
                    <div>
                        <label class="font-semibold text-sm text-gray-600 pb-1 block mb-1">First Name</label>
                        <input type="text" id="fname" value="{{user.first_name}}"
                            class="border outline-none hover:border-indigo-600 focus:border-indigo-600 rounded px-3 py-2 text-sm w-full font-light" />
                    </div>
                    <div>
                        <label class="font-semibold text-sm text-gray-600 pb-1 block mb-1">Last Name</label>
                        <input type="text" id="lname" value="{{user.last_name}}"
                            class="border outline-none hover:border-indigo-600 focus:border-indigo-600 rounded px-3 py-2 text-sm w-full font-light" />
                    </div>
                    <div>
                        <label class="font-semibold text-sm text-gray-600 pb-1 block mb-1">Date of Birth</label>
                        <input type="date" id="dob" value="{% if user_profile.dob %}{{user_profile.dob|date:'Y-m-d'}}{% endif %}"
                            min="1940-01-01" max="{{current_date|date:'Y-m-d'}}"
                            class="border outline-none hover:border-indigo-600 focus:border-indigo-600 rounded px-3 py-2 text-sm w-full font-light" />
                    </div>
                    <div>
                        <label class="font-semibold text-sm text-gray-600 pb-1 block mb-1">Gender</label>
                        <select id="gender"
                            class="border outline-none hover:border-indigo-600 focus:border-indigo-600 rounded px-3 py-2 text-sm w-full font-light">
                            <option value="male" {% if user_profile.gender == "male" %}selected{% endif %}>Male</option>
                            <option value="female" {% if user_profile.gender == "female" %}selected{% endif %}>Female
                            </option>
                            <option value="none" {% if user_profile.gender == "none" %}selected{% endif %}>Rather Not Say
                            </option>
                        </select>
                    </div>
                    <div>
                        <label class="font-semibold text-sm text-gray-600 pb-1 block mb-1">Country</label>
                        <input type="text" id="country"
                            value="{% if user_profile.country %}{{user_profile.country}}{% endif %}"
                            class="border outline-none hover:border-indigo-600 focus:border-indigo-600 rounded px-3 py-2 text-sm w-full font-light" />
                    </div>
                    <div>
                        <label class="font-semibold text-sm text-gray-600 pb-1 block mb-1">City</label>
                        <input type="text" id="city" value="{% if user_profile.city %}{{user_profile.city}}{% endif %}"
                            class="border outline-none hover:border-indigo-600 focus:border-indigo-600 rounded px-3 py-2 text-sm w-full font-light" />
                    </div>
                </div>
                <div class="grid grid-cols-1 gap-5 mt-5 font-roboto lg:grid-cols-2">
                    <div>
                        <label class="font-semibold text-sm text-gray-600 pb-1 block mb-1">House number, Street Name</label>
                        <input type="text" id="address1" value="{% if user_profile.address1 %}{{user_profile.address1}}{% endif %}"
                            class="border outline-none hover:border-indigo-600 focus:border-indigo-600 rounded px-3 py-2 text-sm w-full font-light" />
                    </div>
                    <div>
                        <label class="font-semibold text-sm text-gray-600 pb-1 block mb-1">Colony, Postal Code</label>
                        <input type="text" id="address2" value="{% if user_profile.address2 %}{{user_profile.address2}}{% endif %}"
                            class="border outline-none hover:border-indigo-600 focus:border-indigo-600 rounded px-3 py-2 text-sm w-full font-light" />
                    </div>
                </div>
                <div class="flex items-center justify-center my-8">
                    <button type="submit" name="profileFormSubmit" id="profileFormSubmit" class="foont-roboto transition duration-200 bg-indigo-500 hover:bg-indigo-600 focus:bg-indigo-700 focus:shadow-sm focus:ring-4 focus:ring-indigo-500 focus:ring-opacity-50 text-white w-full sm:w-9/12 lg:w-8/12 py-2.5 rounded-md text-sm shadow-sm hover:shadow-md font-semibold text-center inline-block">
                        <span class="inline-block">Make Changes
                            <i class="fa fa-arrow-right-long ml-2.5 transition-all duration-300 ease-in-out"></i>
                        </span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

{% include '../blocks/dismissible_alert.html' %}

{% endblock body %}

{% block js %}

<script>

    $(document).ready(function () {

        //handles submission of profile form
        $("#profileFormSubmit").click(function (e) { 
            e.preventDefault();
        
            $.ajax({
                type: "POST",
                url: "{%url 'submit-profile-form'%}",
                data: {
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                    fname: $('#fname').val(),
                    lname: $('#lname').val(),
                    dob: $('#dob').val(),
                    gender: $('#gender').val(),
                    city: $('#city').val(),
                    country: $('#country').val(),
                    address1: $('#address1').val(),
                    address2: $('#address2').val(),
                },
                success: function (response) {
                    error = response.error;
                    status = response.status;
                    message = response.message;

                    let content = ``;
                    if(status==201 && error==null){
                        content = `
                        <div class="alert-success font-roboto font-medium px-4 py-3 my-3 rounded relative" role="alert">
                            <strong class="font-bold"><i class="fa fa-exclamation-triangle"></i></strong>
                            <span class="block sm:inline">${message}</span>
                        </div>
                        `;
                    }else{
                        content = `
                        <div class="alert-error font-roboto font-medium px-4 py-3 my-3 rounded relative" role="alert">
                            <strong class="font-bold"><i class="fa fa-exclamation-triangle"></i></strong>
                            <span class="block sm:inline">${message}</span>
                        </div>`;
                        
                    }
                    $("#profileFormMessage").css("display", "block");
                    $("#profileFormMessage").html(content);
                    setTimeout(function() {
                        $("#profileFormMessage").css("display", "none");
                    }, 3100);
                }
            });
        });


    });

</script>

{% endblock js %}