<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
        integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    {% block links %}{% endblock links %}

    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/custom_styles.css">

    <title>{% block title %}{% endblock title %}</title>

    {% block styles %}{% endblock styles %}
</head>

<body>
    <section id="profile" class="min-h-screen w-full flex justify-between mt-7 lg:mt-0">

    {% include './side_nav.html' %}

    <div class="w-full min-h-screen lg:ml-56">

    {% block body %}

    {% endblock body %}
    
    </div>

    </section>




    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script>
        let openNav=document.getElementById("side-nav-open");
        let closeNav=document.getElementById("side-nav-close");
        let sideNav=document.getElementById("side-nav");

        openNav.addEventListener('click', function() {
            sideNav.classList.remove('-left-full');
        });
        closeNav.addEventListener('click', function() {
            sideNav.classList.add('-left-full');
        });
    </script>
    {% block js %}

    {% endblock js %}
</body>

</html>