<header class="bg-white shadow-lg h-20 hidden md:flex w-full sticky top-0 left-0 z-50">
    <div id="logo"
        class="transform -rotate-6 flex-shrink-0 flex-col items-center justify-center px-4 lg:px-6 xl:px-8 py-1.5">
        <a href="{% url 'home' %}" class="text-5xl font-pacifico text-indigo-600">sb care</a>
        <div class="w-3/4 h-1 bg-indigo-700 rounded-md"></div>
    </div>
    <nav class="header-links contents font-semibold text-base lg:text-lg font-roboto">
        <ul class="flex items-center ml-4 xl:ml-8 mr-auto">
            <li class="p-3 xl:p-6 active">
                <a href="{% url 'home' %}">
                    <span>Home</span>
                </a>
            </li>
            <li class="p-3 xl:p-6">
                <a href="{% url 'url_shorter' %}">
                    <span>Products</span>
                </a>
            </li>
            {% if user.is_authenticated %}
            <li class="p-3 xl:p-6">
                <a href="{% url 'profile' %}">
                    <span>Dashboard</span>
                </a>
            </li>
            {% endif %}
            <li class="p-3 xl:p-6 active">
                <a href="{% url 'pricing' %}">
                    <span>Pricing</span>
                </a>
            </li>
        </ul>
    </nav>
    <div class="flex items-center px-4 lg:px-6 xl:px-8">
        {% if user.is_authenticated %}
        <a href="{% url 'logout' %}"
            class="font-roboto bg-indigo-600 hover:bg-indigo-700 hover:shadow-lg hover:border-opacity-0 hover:-translate-y-0.5 text-white font-bold px-5 xl:px-7 py-3.5 xl:py-3 rounded duration-200">LogOut</a>
        {% else %}
        <a href="{% url 'login' %}"
            class="font-roboto bg-indigo-600 hover:bg-indigo-700 hover:shadow-lg hover:border-opacity-0 hover:-translate-y-0.5 text-white font-bold px-5 xl:px-7 py-3.5 xl:py-3 rounded duration-200">LogIn</a>
        {% endif %}
    </div>
</header>